:root {
  --item-image-size: 4rem;
  --item-gap:        0.5rem;
  --items-per-row:   8;
  --text-color:      black;
}

@font-face {
  font-family: 'VDL-GigaMaruJr';
  font-weight: 400;
  src: url('../fonts/VDL-GigaMaruJr M.ttf') format('truetype');
}

*:not(button) {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-family: 'VDL-GigaMaruJr', sans-serif;
  color: #FFFFFF;
  overflow: hidden;
}

#tracker {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--item-gap);
  max-width: calc(var(--items-per-row) * var(--item-gap) + var(--items-per-row) * var(--item-image-size));
}

.item {
  user-select: none;
  flex: 0 1 var(--item-image-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  text-align: center;
  gap: 0.5em;
}

.item img {
  max-width: 100%;
  max-height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.item:first-child {
  padding-left: 0;
}

.item:last-child {
  padding-right: 0;
}

.item:not(.auto) {
  cursor: pointer;
}

#dna-counter {
  flex-basis: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

#dna-counter button {
  width: 4em;
  height: 4em;
}

#current-dna-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

#current-dna-wrapper img {
  flex-basis: calc(var(--item-image-size) / 2);
  aspect-ratio: 1;
}

#current-dna-count {
  color: var(--text-color);
}

#go-mode {
  flex-basis: 100%;
  margin-top: 1em;
}

.grayscale {
  filter: brightness(50%) grayscale(100%);
}